{% extends 'header.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Bienvenido {{user.username}} </h1>
    <p class="mb-4">En esta seccion podras observar los clientes que tienes registrados en tu negocio y te permite poder
        registrar nuevos clientes.</a>.</p>
    {% if confirmacion %}
    <div class="alert alert-info">
        <strong>{{ confirmacion }}</strong>
    </div>
    {% endif %}

    <a href="/create_client" class="btn btn-primary bg-gradient-primary mb-4">Crear Cliente</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Clientes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="2">Acciones</th>
                            <th>Documento</th>
                            <th>Nombre Completo</th>
                            <th>telefono</th>
                            <th>Email</th>
                            <th>Genero</th>
                            <th>Fecha_registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td><a href="{% url 'update_client' cliente.documento %}"><i class="material-icons"
                                        data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
                            <td>
                                <form method="POST" action="{% url 'delete_client' cliente.documento %}">
                                    {% csrf_token %}
                                    <button class="button"
                                        onclick="return confirm('¿Desea eliminar el registro de usuario seleccionado?');"
                                        type="submit"><i class="material-icons" data-toggle="tooltip"
                                            title="Delete">&#xE872;</i></button>
                                </form>
                            </td>
                            <td>{{ cliente.documento }}</td>
                            <td>{{ cliente.nombres }}</td>
                            <td>{{ cliente.telefono }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>{{ cliente.genero }}</td>
                            <td>{{ cliente.fecha_registro }}</td>

                        </tr>

                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Sifer - App</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<script>
    function maxlengthNumber(obj) {

        if (obj.value.length > obj.maxLength) {
            obj.value = obj.value.slice(0, obj.maxLength);
            alert("Debe ingresar solo el numeros de digitos requeridos");
        }
    }
</script>



{% endblock %}