{% extends 'header.html' %}

{% block content %}
<div class="container">
    
    <div class="card o-hidden border-0 shadow-lg my-2">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-10">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Registrar Categoria</h1>
                        </div>
                        <form method="POST" autocomplete="off" action="/create_category/" class="user">
                            {% if error %}
                            <div class="alert alert-info">
                                <strong>{{ error }}</strong>
                            </div>
                            {% endif %}

                            <div class="form-group row">


                                {% csrf_token %}
                                
                                {{form}}
                            </div>
                            <hr>

                            <button class="btn btn-primary btn-user btn-block">Crear Categoria</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}