{% extends 'header.html'%}


{% block content %}


<div class="container">


    <div class="card o-hidden border-0 shadow-lg my-2">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-10">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Registrar Cliente</h1>
                        </div>
                        <form method="POST" autocomplete="off" action="/create_client/" class="user">
                            {% if error %}
                                <div class="alert alert-info">
                                    <strong>{{ error }}</strong>
                                </div>
                            {% endif %}

                            <div class="form-group row">

                                {% csrf_token %}
                                
                                {{form}}
                            </div>
                            <hr>

                            <button class="btn btn-primary btn-user btn-block">Crear Cliente</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    function maxlengthNumber(obj){
        if(obj.value.length > obj.maxLength){
            obj.value = obj.value.slice(0, obj.maxLength);
            alert("Debe ingresar solo los campos requeridos");
        }
    }
</script>
{% endblock %}