{% extends 'header.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Bienvenido {{user.username}} </h1>
    <p class="mb-4">En esta seccion podras observar las motos que han sido registradas en tu negocio proporcionandote en
        tiempo real quien es el dueño de la moto y en que horario fue registrada la moto.

        </a>.</p>
    {% if confirmacion %}
    <div class="alert alert-info">
        <strong>{{ confirmacion }}</strong>
    </div>
    {% endif %}

    <a href="/create_motorcycle" class="btn btn-primary bg-gradient-primary mb-4">Registrar Moto</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Motos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="2">Acciones</th>
                            <th>Placa</th>
                            <th>Kilometraje</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Color</th>
                            <th>Carroceria</th>
                            <th>Cilindraje</th>
                            <th>Combustible</th>
                            <th>Uso</th>
                            <th>Usuario</th>
                            <th>Documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for moto in motos %}
                        <tr>

                            <td><a href="{% url 'update_moto' moto.placa %}"><i class="material-icons"
                                        data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                            </td>

                            <td>
                                <form method="POST" action="{% url 'delete_moto' moto.placa %}">
                                    {% csrf_token %}
                                    <button class="button"
                                        onclick="return confirm('¿Desea eliminar la moto seleccionada?');"
                                        type="submit"><i class="material-icons" data-toggle="tooltip"
                                            title="Borrar">&#xE872;</i></button>
                                </form>
                            </td>
                            <td>{{ moto.placa }}</td>
                            <td>{{ moto.kilometraje }}</td>
                            <td>{{ moto.modelo }}</td>
                            <td>{{ moto.marca }}</td>
                            <td>{{ moto.color }}</td>
                            <td>{{ moto.carroceria }}</td>
                            <td>{{ moto.cilindraje }}</td>
                            <td>{{ moto.combustible }}</td>
                            <td>{{ moto.uso }}</td>
                            <td>{{ moto.usuario.nombres }}</td>
                            <td>{{ moto.usuario.documento }}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Sifer - App</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}